.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  width: 1100px;
  padding: 41px;
  margin-top: 50px;
  margin-bottom: 55px;
  font-family: "Raleway",sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 100%;
}

.navigation {
  display: flex;

}

.list {
  display: flex;
  gap: 35px;
  margin-left: 10px;
  list-style: circle;
  font-family: "Raleway",sans-serif;
}

.home_header {
  list-style-type: none;
}

.link_style {
  text-decoration: none;
}
  
.logo-header {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  max-width: 240px;
  justify-self:end;
  font-family: "Raleway",sans-serif;
  line-height: 24px;
  font-style: normal;
  font-size: 18px;
  margin-right: 8px;
  text-underline-offset: 3px;
}

.main {
  position: relative;
}
.cover {
  color: #fff;
  position: relative;
  padding: 165px 50px 50px;
  width: 1100px ;
  min-height: 757px; 
  background-image: url(../images/cover.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  background: #00000099;
  inset: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.title {
  position: relative;
  width: 1000px;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.description {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  border-width: 1px;
  margin-top: 105px;
}

.text_bottom {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  width: 637px;
  word-spacing:18px;
  padding-top: 12px;
}

.button {
  color:#fff;
  position: relative;
  width: 256px;
  border-width: 1px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  padding: 15px;
}

.heading {
  display: block;
}

.heading_center {
  text-align: center;
  margin-top: 20px;
  margin-left: 30px;
}

.heading_right {
  text-align:right;
  margin-top: 20px;
  margin-left: 610px;
}

.lots {
  width: 1075px;
 
}

.frames {
  color:#fff;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 22px;
  justify-content: space-between;
}

.frame {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 334px;
  padding: 50px 40px 50px 40px;
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  line-height: 120%;
}

.lots_text {
  display: flex;
  position: relative;
  width: 121px;
  font-family: "Raleway",sans-serif;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  margin-top: 182px;
  margin-left: 63px;
}
.frame_background {
  background-size: cover;
  background-position: center;
}

.link {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  text-decoration: none;
}

.text_link {
  width: 254px;
  font-family: "Raleway",sans-serif;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.text_article {
  display: flex;
  align-items:flex-end;
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  line-height: 120%;
}

.text_article_left {
  padding-top: 100px;
}

.text_article_center {
  padding-top: 30px;
}

.text_article_right {
  padding-top: 100px;
}

.article {
  display: flex;
  position: relative;
  height: 100%;
}

.frame_left {
  background-image:url(../images/card-lot-01.jpg);
}

.frame_center {
  background-image:url(../images/card-lot-02.jpg);
}

.frame_right {
  background-image:url(../images/card-lot-03.jpg);
}

.more {
  display: flex;
  width: 192px;
  margin-top: 33px;
  margin-left: 63px;
  margin-bottom: 155px;
  border-width: 1px;
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  line-height: 100%;
}
.about {
  position: relative;
  width: 1052px;
  display: grid;
  grid-template-columns:334px auto ;
  grid-template-rows: auto ;
}

.logo_column {
  display: flex;
  justify-content: center;
  width: 334px;
  margin-left: 25px;
}

.about__logo-image{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.logo-about {
  width: 148px;
  height: 114px;
}

.about_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 693px;
  position: relative;
  margin-top: 105px;
  margin-left: 51px;
}

.text_title {
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 85px;
}

.text_about {
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  margin-top: 20px;  
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 1100px;
  position: relative;
  margin-top: 185px;
}

.address_footer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  max-width: 260px;
  font-family: "Raleway",sans-serif;
  line-height: 24px;
  font-style: normal;
  font-size: 18px;
  margin-left: 50px;
  text-underline-offset: 3px;
}

.navigation_footer {
  display: grid;
  justify-content: center;
  text-align: center;
}

.list_footer {
  list-style-type: none;
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}

.list_footer_style {
  text-decoration: none;
}
.socials {
  display: grid;
  grid-auto-flow:column;
  justify-content: space-between;
  width: 240px;
  margin-left: 80px;
}


.social {
  height: 48px;
  width: 48px;
}
